html {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 1rem;
	line-height: 24px;
	margin: 0;
}

.header {
	margin: 0;
	background: #F9F9F9;
	background: -webkit-radial-gradient(circle, #F9F9F9, #E9E9E9) fixed;
	background: -moz-radial-gradient(circle, #F9F9F9, #E9E9E9) fixed;
	background: -o-radial-gradient(circle, #F9F9F9, #E9E9E9) fixed;
	background: radial-gradient(circle, #F9F9F9 20%, #E9E9E9 80%) fixed;
	padding-top: 40px;
}

.bottom {
	margin: 0px;
	padding-bottom: 10px;
	border-top: 1px solid #000;
}

#menu {
	margin-left: 0;
	padding: 0;
	line-height: 2.5em;
	border-top: #c9c9c9 solid 1px;
	background-color: #e0e0e0;
}

#menu > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu > ul li {
	display: inline;
	margin: auto 5px;
}

#menu a {
	border-bottom: none;
	color: black;
	padding: .5em;
	font-size: 14px;
}

#menu a:hover {
	background-color: white;
}

.content {
	margin: 0px auto;
	max-width: 950px
}

#overview {
	margin-top: 30px;
	border-bottom: 1px solid #e0e0e0;
}

#announcement {
	color: red;
}

ol, ul {
	padding-bottom: .5em;
}

h1 {
	font-size: 3rem;
	font-weight: 300;
	margin: 0 0 16px;
	padding: 0;
}

h2 {
	font-weight: 500;
}

#name {
	padding-top: 10px;
}

a {
	color: #a02337;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid;
	color: #4D4D4D;
}

img {
	border: 0;
}

#profile-pic {
	border: 0;
	float: left;
	margin: 0 30px 0 0;
	border-radius: .25rem!important;
}

#logo {
	border: 0;
	float: right;
	margin: 10px 0 30px 0;
}

.icon, .dlicon {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-left: 8px;
}

.icon-first {
	margin-left:0px;
}

.dlicon {
	margin-left: auto;
}

.sep {
	clear: left;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-conf {
	color: white;
	background-color: #007bff;
}

.badge-journal {
	color: white;
	background-color: #28a745;
}

.badge-preprint {
	color: white;
	background-color: #6c757d;
}

.badge-press {
	color: white;
	background-color: #dc3545;
}

.badge-project {
	color: #212529;
	background-color: #ffc107;
}

.info-content {
	margin-left: 75px;
}

.lastmod {
	font-size: 12px;
	font-style: italic;
}

.info-title {
	float:left
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.highlight-dashed {
	background-color: #fffcd1;
	border: 1px dashed #ccc;
	margin: 8px 0 8px 15px;
	padding: 3px;
	font-family: monospace;
	white-space: pre;
}

pre {
	display: inline;
	margin: 0;
}
